.un-cloak {
    /* Avoids FOUC */
    display: none;
}

.button {
    --at-apply: rounded-2 py-4 text-neutral100 bg-neutral700 border-none outline-none fw-700 cursor-pointer;
}

.button:hover,
.button:focus {
    --at-apply: bg-gradient-to-r bg-gradient-from-accent bg-gradient-to-primary shadow shadow-accent-2xl
}

/* Taken from https://www.bram.us/2021/01/28/form-validation-you-want-notfocusinvalid-not-invalid/ */
input:invalid:not(:placeholder-shown):not(:focus)~.error-message {
    display: initial;
}