.un-cloak {
    /* Avoids FOUC */
    display: none;
}

.button {
    --at-apply: rounded-2 py-4 text-neutral100 bg-neutral700 border-none outline-none fw-700 cursor-pointer;
}

.button:hover,
.button:focus {
    --at-apply: bg-gradient-to-r bg-gradient-from-accent bg-gradient-to-primary shadow shadow-accent-2xl
}

form[data-dirty] input:invalid {
    --at-apply: bg-error border-color-error text-primary
}

form[data-dirty] .error-message:has(~input:invalid) {
    display: initial;
}

input {
    border: unset
}